@import url("../css/fonts.css");
/* *******************************************************************************************************************************************************nulling************************************************************************************************************************************************************ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
  line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ************************************************************************************************************************************************************************************************************************************************************************************************************************** */
/* ********** variables ********** */
/* ********** variables ********** */
/* ********** common styles ********** */
.side-padding {
  padding: 0 10px;
}
@media (min-width: 576px) {
  .side-padding {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .side-padding {
    padding: 0 40px;
  }
}

.container {
  max-width: 1140px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal-fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.section-title {
  color: #1b1b1b;
  font-size: 30px;
}
@media (min-width: 300px) {
  .section-title {
    font-size: 50px;
  }
}

.section-title:after {
  content: "";
  display: block;
  max-width: 100%;
  width: 300px;
  height: 2px;
  margin: 20px auto 0 auto;
  background-color: #1abc9c;
}

.to-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c99;
  border-radius: 50%;
  transition: ease-in 400ms;
  z-index: 2;
}
@media (min-width: 576px) and (max-width: 768px) {
  .to-top {
    bottom: 20px;
    left: 20px;
  }
}
@media (min-width: 768px) {
  .to-top {
    bottom: 40px;
    left: 40px;
  }
}
.to-top:hover {
  transform: scale(1.1);
}
.to-top__link {
  color: #ffffff;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5e5e5e;
  transition: 1000ms all;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.preloader__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  border-top-color: #1abc9c;
  transform: translate(-50%, -50%);
  animation: spin linear 1000ms infinite;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}

/* ********** common styles ********** */
/* ********** nav-bar styles ********** */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.nav-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav-bar__logo {
  min-width: 100px;
  width: 100px;
}
.nav-bar__list {
  display: none;
}
@media (min-width: 768px) {
  .nav-bar__list {
    display: flex;
  }
}
.nav-bar__item {
  position: relative;
  margin-left: 30px;
}
.nav-bar__item:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25px;
  width: 0;
  height: 2px;
  background-color: #1abc9c;
  transition: 400ms;
}
.nav-bar__item:hover:before {
  left: 0;
  width: 100%;
}
.nav-bar__link {
  font-size: 18px;
  color: #ffffff;
  transition: 400ms;
}
.nav-bar__link:hover {
  color: #1abc9c;
}
.nav-bar__hamburger-menu {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger-menu {
  overflow: hidden;
}
.hamburger-menu__list {
  margin-top: -200px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 400ms;
  opacity: 0;
}
.hamburger-menu__list_is-visible {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
@media (min-width: 768px) {
  .hamburger-menu__list_is-visible {
    display: none;
  }
}
.hamburger-menu__item {
  padding-top: 10px;
}
.hamburger-menu__item:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  margin: 10px auto 0 auto;
  background-color: #88888888;
}
.hamburger-menu__item:last-child {
  padding-bottom: 10px;
}
.hamburger-menu__link {
  font-size: 18px;
  color: #ffffff;
  transition: 400ms;
}
.hamburger-menu__link:hover {
  color: #1abc9c;
}

/* ********** nav-bar styles ********** */
/* ********** header styles ********** */
.header {
  background: url("../img/header-bg.jpeg") 70% no-repeat;
  background-size: cover;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    text-align: left;
  }
}
.header__img {
  min-width: 150px;
  max-width: 100%;
  width: 200px;
  height: 100%;
  margin: 0 0 50px 0;
  border-radius: 50%;
  border: 3px solid #1abc9c;
}
@media (min-width: 768px) {
  .header__img {
    margin: 0 40px 0 0;
  }
}
.header__greeting {
  color: #ffffff;
}
.header__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}
@media (min-width: 768px) {
  .header__title-wrap {
    align-items: flex-start;
    padding-left: 40px;
    border-left: 1px solid #ffffff;
  }
}
.header__title {
  margin: 20px 0;
  font-size: 30px;
  color: #ffffff;
}
@media (min-width: 300px) and (max-width: 420px) {
  .header__title {
    font-size: 40px;
  }
}
@media (min-width: 420px) and (max-width: 576px) {
  .header__title {
    font-size: 60px;
  }
}
@media (min-width: 576px) {
  .header__title {
    margin: 30px 0;
    font-size: 80px;
  }
}
.header__represent {
  color: #ffffff;
}
.header__list {
  display: flex;
  margin-top: 20px;
}
.header__item {
  margin: 0 10px;
}
.header__link {
  font-size: 30px;
  color: #ffffff;
  transition: 400ms;
}
.header__link:hover {
  color: #1abc9c;
}

/* ********** header styles ********** */
/* ********** main styles ********** */
.main__portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.main__skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23808080' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.main__contacts {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/contact-bg.jpeg") no-repeat;
  background-size: cover;
}

/* ********** main styles ********** */
/* ********** portfolio styles ********** */
.works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 80px;
}
@media (min-width: 576px) {
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
}
.works__card {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.works__card:hover .works__img {
  transform: scale(1.2);
}
.works__card:hover .works__desc {
  top: 70%;
  visibility: visible;
}
.works__card:hover .works__dark-card {
  background-color: transparent;
  visibility: hidden;
}
.works__dark-card {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}
@media (min-width: 768px) {
  .works__dark-card {
    display: block;
    transition: 400ms;
  }
}
.works__img {
  width: 100%;
  transition: 400ms;
}
.works__desc {
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #1b1b1b;
  transition: 400ms;
}
@media (min-width: 768px) {
  .works__desc {
    top: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }
}
.works__desc:hover {
  color: #1abc9c;
}

/* ********** portfolio styles ********** */
/* ********** skills styles ********** */
.skills__card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
@media (max-width: 576px) {
  .skills__card-box {
    margin-top: 50px;
  }
}
.skills__row {
  display: flex;
  flex-direction: column;
  max-width: 32%;
}
@media (max-width: 768px) {
  .skills__row {
    max-width: 48%;
  }
}
.skills__row-1 .skills-card:nth-child(2) {
  display: none;
}
@media (max-width: 768px) {
  .skills__row-1 .skills-card:nth-child(2) {
    display: block;
  }
}
@media (max-width: 768px) {
  .skills__row-3 {
    display: none;
  }
}

.skills-card {
  padding: 20px 30px;
  background-color: #f1f1f1;
}
@media (max-width: 576px) {
  .skills-card {
    padding: 20px 10px;
  }
}
.skills-card:not(:last-child) {
  margin-bottom: 20px;
}
.skills-card__title {
  margin-bottom: 20px;
  font-family: "Nunito-Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #1b1b1b;
}
@media (max-width: 576px) {
  .skills-card__title {
    font-size: 16px;
  }
}
.skills-card__desc {
  color: #1b1b1b;
  line-height: 22px;
}
@media (max-width: 576px) {
  .skills-card__desc {
    font-size: 12px;
  }
}
.skills-card__desc_colored {
  color: #1abc9c;
  font-weight: 900;
}

/* ********** skills styles ********** */
/* ********** contacts styles ********** */
.form {
  display: flex;
  flex-direction: column;
  max-width: 725px;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.form__title {
  margin-bottom: 30px;
  font-size: 36px;
  color: #ffffff;
}
.form__about-user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__about-user {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .form__name {
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .form__email {
    margin-left: 5px;
  }
}
.form__name, .form__email {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  font-family: "Nunito-Italic";
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  transition: 400ms;
}
.form__name:focus, .form__email:focus {
  border: 1px solid #1abc9c;
  box-shadow: 0 0 10px #1abc9c;
}
.form__textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-family: "Nunito-Italic";
  resize: none;
  transition: 400ms;
}
.form__textarea:focus {
  border: 1px solid #1abc9c;
  box-shadow: 0 0 10px #1abc9c;
}
.form__btn {
  width: 100%;
  height: 40px;
  margin: auto;
  font-size: 16px;
  color: #ffffff;
  background-color: #1abc9c;
  border-radius: 4px;
  transition: 400ms;
}
@media (min-width: 300px) {
  .form__btn {
    width: 200px;
  }
}
.form__btn:hover {
  background-color: #15dab2;
}

/* ********** contacts styles ********** */
/* ********** footer styles ********** */
.footer {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.2);
}
.footer__footer-content {
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content__contacts {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-content__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-content__item {
  margin: 0 5px;
}
.footer-content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 400ms;
}
.footer-content__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.footer-content__email {
  display: block;
  margin-bottom: 5px;
}

/* ********** footer styles ********** */
/* ********** modal styles ********** */
.modal {
  position: fixed;
  top: 50%;
  width: 400px;
  left: 50%;
  height: 200px;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border-radius: 4px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 400ms;
}
.modal_visible {
  visibility: visible;
  opacity: 1;
}

/* ********** modal styles ********** */