@import url("../css/fonts.css");

/* *******************************************************************************************************************************************************nulling************************************************************************************************************************************************************ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Nunito";
  line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ************************************************************************************************************************************************************************************************************************************************************************************************************************** */

/* ********** variables ********** */

$sm: 576px;
$md: 768px;
$lg: 992px;
$green: #1abc9c;

/* ********** variables ********** */

/* ********** common styles ********** */

.side-padding {
  padding: 0 10px;
  @media (min-width: $sm) {
    padding: 0 20px;
  }
  @media (min-width: $md) {
    padding: 0 40px;
  }
}

.container {
  max-width: 1140px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-title {
  color: #1b1b1b;
  font-size: 50px;
}

.section-title:after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  margin: 20px auto 0 auto;
  background-color: $green;
}
/* ********** common styles ********** */

/* ********** nav-bar styles ********** */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  &__logo {
    min-width: 100px;
    width: 100px;
  }
  &__list {
    display: none;
    @media (min-width: $md) {
      display: flex;
    }
  }
  &__item {
    position: relative;
    margin-left: 30px;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -25px;
      width: 0;
      height: 2px;
      background-color: $green;
      transition: 400ms;
    }
    &:hover:before {
      left: 0;
      width: 100%;
    }
  }
  &__link {
    font-size: 18px;
    color: #ffffff;
    transition: 400ms;
    &:hover {
      color: $green;
    }
  }
  &__hamburger-menu {
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
  }
}

.hamburger {
  @media (min-width: $md) {
    display: none;
  }
}

.hamburger-menu {
  overflow: hidden;
  &__list {
    margin-top: -200px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 400ms;
    opacity: 0;
    &_is-visible {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
      @media (min-width: $md) {
        display: none;
      }
    }
  }
  &__item {
    padding-top: 10px;
    &:not(:last-child):after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      margin: 10px auto 0 auto;
      background-color: #88888888;
    }
    &:last-child {
      padding-bottom: 10px;
    }
  }
  &__link {
    font-size: 18px;
    color: #ffffff;
    transition: 400ms;
    &:hover {
      color: $green;
    }
  }
}

/* ********** nav-bar styles ********** */

/* ********** header styles ********** */

.header {
  background: url("../img/header-bg.jpeg") 70% no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 0;
    text-align: center;
    @media (min-width: $md) {
      flex-direction: row;
      text-align: left;
    }
  }
  &__img {
    min-width: 150px;
    max-width: 200px;
    width: auto;
    height: 100%;
    margin: 0 0 50px 0;
    border-radius: 50%;
    border: 3px solid $green;
    @media (min-width: $md) {
      margin: 0 40px 0 0;
    }
  }
  &__greeting {
    color: #ffffff;
  }
  &__title-wrap {
    max-width: 550px;
    @media (min-width: $md) {
      padding-left: 40px;
      border-left: 1px solid #ffffff;
    }
  }
  &__title {
    margin: 20px 0;
    font-family: "Nunito-Bold";
    font-size: 30px;
    color: #ffffff;
    @media (min-width: 300px) and (max-width: 420px) {
      font-size: 40px;
    }
    @media (min-width: 420px) and (max-width: $sm) {
      font-size: 60px;
    }
    @media (min-width: $sm) {
      margin: 30px 0;
      font-size: 80px;
    }
  }
  &__represent {
    color: #ffffff;
  }
}

/* ********** header styles ********** */


/* ********** main styles ********** */

.main {
  &__portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23808080' fill-opacity='0.38' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

/* ********** main styles ********** */


/* ********** portfolio styles ********** */

/* ********** portfolio styles ********** */
