@font-face {
  font-family: "Nunito";
  src: url("/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Nunito-Italic";
  src: url("/Nunito-Italic.ttf");
}
