doctype html
html(lang='ru')
  head
    link(rel='shortcut icon', href='favicon.png', type='image/png')
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Alexey Shevchenko
  body
    .fog
    .preloader
      <div class="loader">
        <div class="l_main">
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
        </div>
        </div>
    header.header.side-padding
      nav.nav-bar.side-padding
        .nav-bar__content.container
          a(href='#')
            img.nav-bar__logo(src='logo.png', alt='Logotype')
          ul.nav-bar__list
            li.nav-bar__item
              a.nav-bar__link(href='#skills') Обо мне
            li.nav-bar__item
              a.nav-bar__link(href='#portfolio') Мои работы
            li.nav-bar__item
              a.nav-bar__link(href='#connection') Обратная связь
          .hamburger.hamburger--minus
            .hamburger-box
              .hamburger-inner
          .nav-bar__hamburger-menu.hamburger-menu.hamburger-menu_is-visible
            ul.hamburger-menu__list
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#skills') Обо мне
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#portfolio') Мои работы
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#connection') Обратная связь
      .header__container.container
        img.header__img(src='photo.jpeg', alt='My photo')
        .header__title-wrap
          span.header__greeting ПРИВЕТ, МЕНЯ ЗОВУТ
          h1.header__title АЛЕКСЕЙ ШЕВЧЕНКО
          span.header__represent ФРИЛАНСЕР, HTML-ВЕРСТАЛЬЩИК И WEB-РАЗРАБОТЧИК
          ul.header__list
            li.header__item
              a.header__link(target='_blank', href='https://t.me/darth_tesla')
                i.fab.fa-telegram
            li.header__item
              a.header__link(target='_blank', href='https://wa.me/79967825132')
                i.fab.fa-whatsapp
            li.header__item
              a.header__link(target='_blank', href='skype:live:.cid.b788b44618126871')
                i.fab.fa-skype
            li.header__item
              a.header__link(target='_blank', href='https://github.com/darth-tesla')
                i.fab.fa-github
            li.header__item
              a.header__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
                i.fas.fa-envelope
            li.header__item
              a.header__link(target='_blank', href='https://www.linkedin.com/in/a-maximchik/')
                i.fab.fa-linkedin
    main.main
      a#portfolio
      section.main__portfolio.side-padding
        .portfolio.container
          h2.portfolio__title.section-title Мои работы
          .filter-buttons
            .filter-buttons__wrap
              button.filter-buttons__button все работы
              button.filter-buttons__button#site сайты
              button.filter-buttons__button#app приложения
          .portfolio__works.works
            a.works__work.work.app(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-13.png", alt="News App")
              .work__footer
                span.work__description News App
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-12.png", alt="Borodinsky")
              .work__footer
                span.work__description Borodinsky Barbershop
            a.works__work.work.app(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-11.png", alt="To Do list")
              .work__footer
                span.work__description To Do List App
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-10.png", alt="Lian agency")
              .work__footer
                span.work__description Lian Creative Agency
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-9.png", alt="Giant")
              .work__footer
                span.work__description Giant Test Page
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-8.png", alt="Marthas portfolio")
              .work__footer
                span.work__description Tattoo Master Portfolio
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-7.png", alt="Specsintez")
              .work__footer
                span.work__description Specsintez Main Page Prototype
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-6.png", alt="Uptrader")
              .work__footer
                span.work__description UpTrader Test Page
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-5.png", alt="Skokov")
              .work__footer
                span.work__description Skokov Consulting Agency
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-4.png", alt="Elegant")
              .work__footer
                span.work__description Elegant Portfolio
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-3.png", alt="Basketball&Life")
              .work__footer
                span.work__description Basketball & Life
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-2.png", alt="Let us make")
              .work__footer
                span.work__description Logo Agency
            a.works__work.work.site(href="#" data-aos='fade-up', data-aos-duration='1000')
              img.work__photo(src="work-1.png", alt="Tajam")
              .work__footer
                span.work__description Tajam Agency
      a#connection
      section.main__contacts.side-padding
        .contacts.container
          form.contacts__form.form
            input(type='hidden', name='project_name', value='Portfolio Page')
            input(type='hidden', name='admin_email', value='darth.tesla47@gmail.com')
            input(type='hidden', name='form_subject', value='Form Subject')
            h3.form__title Обратная связь
            .form__about-user
              input.form__name(type='text', name='name', placeholder='Ваше имя', required='')
              input.form__email(type='email', name='e-mail', placeholder='Ваш e-mail', required='')
            textarea.form__textarea(name='message', cols='30', rows='10', placeholder='Ваше сообщение', required='')
            button.form__btn(type='submit') Отправить
    footer.footer.side-padding
      .footer__footer-content.footer-contentcontainer
        span.footer-content__contacts Контакты
        ul.footer-content__socials
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://t.me/darth_tesla')
              i.fab.fa-telegram
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://wa.me/79967825132')
              i.fab.fa-whatsapp
          li.footer-content__item
            a.footer-content__link(target='_blank', href='skype:live:.cid.b788b44618126871')
              i.fab.fa-skype
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://github.com/darth-tesla')
              i.fab.fa-github
          li.footer-content__item
            a.footer-content__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
              i.fas.fa-envelope
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://www.linkedin.com/in/a-maximchik/')
              i.fab.fa-linkedin
        span.footer-content__email darth.tesla47@gmail.com
        span.footer-content__city Город:Санкт-Петербург
    .modal
      p.modal__thanks
        | Спасибо! В ближайшее время я свяжусь с вами ;)
    a.to-top(href='#')
      i.to-top__link.fas.fa-chevron-up
