doctype html
html(lang='ru')
  head
    link(rel='shortcut icon', href='favicon.png', type='image/png')
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Alexey Shevchenko
  body
    .fog
    .preloader
      .preloader__inner
    header.header.side-padding
      nav.nav-bar.side-padding
        .nav-bar__content.container
          a(href='#')
            img.nav-bar__logo(src='logo.png', alt='Logotype')
          ul.nav-bar__list
            li.nav-bar__item
              a.nav-bar__link(href='#portfolio') Мои работы
            li.nav-bar__item
              a.nav-bar__link(href='#skills') Навыки
            li.nav-bar__item
              a.nav-bar__link(href='#connection') Обратная связь
          .hamburger.hamburger--minus
            .hamburger-box
              .hamburger-inner
          .nav-bar__hamburger-menu.hamburger-menu.hamburger-menu_is-visible
            ul.hamburger-menu__list
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#portfolio') Мои работы
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#skills') Навыки
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#connection') Обратная связь
      .header__container.container
        img.header__img(src='photo.jpeg', alt='My photo')
        .header__title-wrap
          span.header__greeting ПРИВЕТ, МЕНЯ ЗОВУТ
          h1.header__title АЛЕКСЕЙ ШЕВЧЕНКО
          span.header__represent ФРИЛАНСЕР, HTML-ВЕРСТАЛЬЩИК И WEB-РАЗРАБОТЧИК
          ul.header__list
            li.header__item
              a.header__link(target='_blank', href='https://t.me/darth_tesla')
                i.fab.fa-telegram
            li.header__item
              a.header__link(target='_blank', href='https://wa.me/79967825132')
                i.fab.fa-whatsapp
            li.header__item
              a.header__link(target='_blank', href='skype:live:.cid.b788b44618126871')
                i.fab.fa-skype
            li.header__item
              a.header__link(target='_blank', href='https://github.com/darth-tesla')
                i.fab.fa-github
            li.header__item
              a.header__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
                i.fas.fa-envelope
    main.main
      a#portfolio
      section.main__portfolio.side-padding
        .portfolio.container
          h2.portfolio__title.section-title Мои работы
          .filter-buttons
            .filter-buttons__wrap
              a.filter-buttons__button.filter-buttons__button_is-active.site-card все работы
              a.filter-buttons__button(href="#") сайты
              a.filter-buttons__button(href="#") приложения
          .portfolio__works.works
            .works__card.app-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-11.jpg', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/to-do/') ПОСМОТРЕТЬ РАБОТУ (В РАЗРАБОТКЕ)
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-10.jpg', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/martas-portfolio/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-9.jpg', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/spec-sintez/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-8.jpg', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/lian-agency/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-6.png', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/barbershop/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-7.jpg', alt='Barbershop')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/uptrader-test/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-5.jpeg', alt='Skokov page')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/skokov/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-4.jpeg', alt='Tajam master page')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/elegant/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-3.jpeg', alt='Let us make page')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/basketball/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-2.jpeg', alt='Basketball page')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/letusmake/') ПОСМОТРЕТЬ РАБОТУ
            .works__card.site-card(data-aos='fade-up', data-aos-duration='1000')
              .works__dark-card
              img.works__img(src='work-1.jpeg', alt='Elegant page')
              a.works__desc(target='_blank', href='https://darth-tesla.github.io/tajem-master-page/') ПОСМОТРЕТЬ РАБОТУ
      a#skills
      section.main__skills.side-padding
        .skills.container
          h2.skills__title.section-title Навыки
          .skills__card-box
            .skills__row.skills__row-1
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title HTML5
                p.skills-card__desc
                  | Делаю валидную и семантическую разметку веб-страницы с
                  | правильной структурой документа. Для удобочитаемости кода и
                  | ускорения вёрстки использую шаблонизатор
                  span.skills-card__desc_colored PUG
                  | .
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title JavaScript
                p.skills-card__desc
                  | Для создания интерактива на сайте использую язык
                  | программирования JavaScript и библиотеку
                  span.skills-card__desc_colored jQuery
                  | .
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title Webpack
                p.skills-card__desc
                  | Для компиляции и минификации кода, а так же сборки готового
                  | проекта использую сборщик Webpack.
            .skills__row.skills__row-2
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title CSS3
                p.skills-card__desc
                  | Стилизую веб-страницы с помощью каскадных таблиц стилей.
                  | Использую технологии Grid, Flexbox, а так же медиа-запросы для
                  | создания адаптивной вёрстки. Для ускорения написания кода
                  | использую препроцессор
                  span.skills-card__desc_colored SASS
                  | .
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title БЭМ
                p.skills-card__desc
                  | Применяю в вёрстке БЭМ-методологию (именование классов) для
                  | удобочитаемого кода.
            .skills__row.skills__row-3
              .skills__skills-card.skills-card(data-aos='fade-up', data-aos-duration='1000')
                h3.skills-card__title JavaScript
                p.skills-card__desc
                  | Для создания интерактива на сайте использую язык
                  | программирования JavaScript и библиотеку
                  span.skills-card__desc_colored jQuery
                  | .
      a#connection
      section.main__contacts.side-padding
        .contacts.container
          form.contacts__form.form
            input(type='hidden', name='project_name', value='Portfolio Page')
            input(type='hidden', name='admin_email', value='darth.tesla47@gmail.com')
            input(type='hidden', name='form_subject', value='Form Subject')
            h3.form__title Обратная связь
            .form__about-user
              input.form__name(type='text', name='name', placeholder='Ваше имя', required='')
              input.form__email(type='email', name='e-mail', placeholder='Ваш e-mail', required='')
            textarea.form__textarea(name='message', cols='30', rows='10', placeholder='Ваше сообщение', required='')
            button.form__btn(type='submit') Отправить
    footer.footer.side-padding
      .footer__footer-content.footer-contentcontainer
        span.footer-content__contacts Контакты
        ul.footer-content__socials
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://t.me/darth_tesla')
              i.fab.fa-telegram
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://wa.me/79967825132')
              i.fab.fa-whatsapp
          li.footer-content__item
            a.footer-content__link(target='_blank', href='skype:live:.cid.b788b44618126871')
              i.fab.fa-skype
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://github.com/darth-tesla')
              i.fab.fa-github
          li.footer-content__item
            a.footer-content__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
              i.fas.fa-envelope
        span.footer-content__email darth.tesla47@gmail.com
        span.footer-content__city Город:Санкт-Петербург
    .modal
      p.modal__thanks
        | Спасибо! В ближайшее время я свяжусь с вами ;)
    a.to-top(href='#')
      i.to-top__link.fas.fa-chevron-up
