doctype html
html(lang='ru')
  head
    link(rel='shortcut icon', href='favicon.png', type='image/png')
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Alexey Shevchenko
  body
    .fog
    .preloader
      <div class="loader">
        <div class="l_main">
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
          <div class="l_square"><span></span><span></span><span></span></div>
        </div>
        </div>
    header.header.side-padding
      nav.nav-bar.side-padding
        .nav-bar__content.container
          a(href='#')
            img.nav-bar__logo(src='logo.png', alt='Logotype')
          ul.nav-bar__list
            li.nav-bar__item
              a.nav-bar__link(href='#about-me') Обо мне
            li.nav-bar__item
              a.nav-bar__link(href='#portfolio') Мои работы
            li.nav-bar__item
              a.nav-bar__link(href='#connection') Обратная связь
          .hamburger.hamburger--minus
            .hamburger-box
              .hamburger-inner
          .nav-bar__hamburger-menu.hamburger-menu.hamburger-menu_is-visible
            ul.hamburger-menu__list
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#about-me') Обо мне
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#portfolio') Мои работы
              li.hamburger-menu__item
                a.hamburger-menu__link(href='#connection') Обратная связь
      .header__container.container
        img.header__img(src='photo.jpeg', alt='My photo')
        .header__title-wrap
          span.header__greeting ПРИВЕТ, МЕНЯ ЗОВУТ
          h1.header__title АЛЕКСЕЙ ШЕВЧЕНКО
          span.header__represent ФРИЛАНСЕР, HTML-ВЕРСТАЛЬЩИК И WEB-РАЗРАБОТЧИК
          ul.header__list
            li.header__item
              a.header__link(target='_blank', href='https://t.me/darth_tesla')
                i.fab.fa-telegram
            li.header__item
              a.header__link(target='_blank', href='https://wa.me/79967825132')
                i.fab.fa-whatsapp
            li.header__item
              a.header__link(target='_blank', href='skype:live:.cid.b788b44618126871')
                i.fab.fa-skype
            li.header__item
              a.header__link(target='_blank', href='https://github.com/darth-tesla')
                i.fab.fa-github
            li.header__item
              a.header__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
                i.fas.fa-envelope
            li.header__item
              a.header__link(target='_blank', href='https://www.linkedin.com/in/a-maximchik/')
                i.fab.fa-linkedin
    main.main
      a#about-me
      section.main__about-me.about-me
        .about-me__about-me
          h3.about-me__first-title Обо мне
          p.about-me__desc Занимаюсь разработкой адаптивных и кроссбраузерных веб-сайтов и приложений. 
          p.about-me__desc Развиваюсь в направлении frontend-разработки. Изучаю новые технологии и способы их применения на практике. На данный момент совершенствую знания нативного JavaScript и фреймворка Vue.js.
          p.about-me__desc Обладаю хорошими навыками коммуникации, веду активный образ жизни, умею соблюдать сроки и стоически относиться к трудностям.
          a.about-me__link(href="maximchik_cv.pdf" download target="_blank") СКАЧАТЬ РЕЗЮМЕ
        .about-me__skills
          h3.about-me__second-title Навыки
          ul.about-me__list
            li.about-me__item HTML5
            li.about-me__item CSS3
            li.about-me__item JavaScript
            li.about-me__item Vue.js / Vuex / Vue Router
            li.about-me__item Webpack
            li.about-me__item PUG / SCSS
            li.about-me__item Git
            li.about-me__item БЭМ
            li.about-me__item Базовые знания: PHP / ООП
      a#portfolio
      section.main__portfolio.side-padding
        .portfolio.container
          h2.portfolio__title.section-title Мои работы
          .filter-buttons
            .filter-buttons__wrap
              button.filter-buttons__button все работы
              button.filter-buttons__button#site сайты
              button.filter-buttons__button#app приложения
          .portfolio__works.works
            div.works__work.work.app
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript / AJAX
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-13.png", alt="News App")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/news-app/" target="_blank") News App
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-12.png", alt="Borodinsky")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/barbershop/"  target="_blank") Borodinsky Barbershop
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.app
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-11.png", alt="To Do list")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/to-do/" target="_blank" ) To Do List App
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript (jQuery)
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-10.png", alt="Lian agency")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/lian-agency/" target="_blank") Lian Creative Agency
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-9.png", alt="Giant")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/krayt/" target="_blank" ) Giant Test Page
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript 
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-8.png", alt="Marthas portfolio")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/martas-portfolio/" target="_blank") Tattoo Master Portfolio
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript (jQuery)
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-7.png", alt="Specsintez")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/spec-sintez/"  target="_blank") Specsintez Page Prototype
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript 
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-6.png", alt="Uptrader")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/uptrader-test/" target="_blank") UpTrader Test Page
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5 (PUG)
                      li.work__item CSS3 (SCSS)
                      li.work__item JavaScript
                      li.work__item Webpack
                      li.work__item BEM
                img.work__photo(src="work-5.png", alt="Skokov")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/skokov/" target="_blank") Skokov Consulting Agency
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5
                      li.work__item CSS3
                      li.work__item JavaScript
                      li.work__item Gulp
                      li.work__item BEM
                img.work__photo(src="work-4.png", alt="Elegant")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/elegant/" target="_blank") Elegant Portfolio
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5
                      li.work__item CSS3
                      li.work__item JavaScript
                      li.work__item BEM
                img.work__photo(src="work-3.png", alt="Basketball&Life")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/basketball/" target="_blank") Basketball & Life
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5
                      li.work__item CSS3
                      li.work__item BEM
                img.work__photo(src="work-2.png", alt="Let us make")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/letusmake/" target="_blank") Logo Agency
                a.work__button(href="#")
                  span.work__button-inner
            div.works__work.work.site
              .work__content
                .work__fog-wrap
                  .work__fog
                    h4.work__title Стек:
                    ul.work__list
                      li.work__item HTML5
                      li.work__item CSS3
                img.work__photo(src="work-1.png", alt="Tajam")
              .work__footer
                a.work__link(href="https://darth-tesla.github.io/tajem-master-page/" target="_blank") Tajam Agency
                a.work__button(href="#")
                  span.work__button-inner
      a#connection
      section.main__contacts.side-padding
        .contacts.container
          form.contacts__form.form(action="#" id="feedbackForm")
            h3.form__title Обратная связь
            .form__about-user
              input.form__name(type='text', name='name', placeholder='Ваше имя', required='' id="name")
              input.form__email(type='email', name='e-mail', placeholder='Ваш e-mail', required='' id="email")
            textarea.form__textarea(name='message', cols='30', rows='10', placeholder='Ваше сообщение', required='' id='message')
            button.form__btn(type='submit') Отправить
    footer.footer.side-padding
      .footer__footer-content.footer-contentcontainer
        span.footer-content__contacts Контакты
        ul.footer-content__socials
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://t.me/darth_tesla')
              i.fab.fa-telegram
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://wa.me/79967825132')
              i.fab.fa-whatsapp
          li.footer-content__item
            a.footer-content__link(target='_blank', href='skype:live:.cid.b788b44618126871')
              i.fab.fa-skype
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://github.com/darth-tesla')
              i.fab.fa-github
          li.footer-content__item
            a.footer-content__link(target='_blank', href='mailto:darth.tesla47@gmail.com')
              i.fas.fa-envelope
          li.footer-content__item
            a.footer-content__link(target='_blank', href='https://www.linkedin.com/in/a-maximchik/')
              i.fab.fa-linkedin
        span.footer-content__email darth.tesla47@gmail.com
        span.footer-content__city Город:Санкт-Петербург
    .modal
      p.modal__thanks
        | Спасибо! В ближайшее время я свяжусь с вами ;)
    a.to-top(href='#')
      i.to-top__link.fas.fa-chevron-up
    script(src="/__/firebase/7.15.5/firebase-app.js")
    script(src="/__/firebase/7.15.5/firebase-analytics.js")
    script(src="/__/firebase/init.js")
